<div class="instagram-teaser">
    <h2>Suivez le quotidien de l'atelier</h2>
    <div class="placeholder l-grid centered"></div>
    <div class="instagram-teaser__link">
        <a href="https://www.instagram.com/l2ceramique" target="_blank" rel="noopener" aria-label="Instagram">
            <span class="icon-instagram" aria-hidden="true"></span> @L2ceramique
        </a>
    </div>
</div>