.g-newsletter {
  overflow: hidden;
  position: relative;
  
  // Remove Email Octopus branding 😈
  div[eo-block='powered-by'] {
    display: none;
  }

  .inline-container {
    width: 100%;
  }
}



.g-newsletter__shape {
  bottom: -15.625rem;
  height: 31.25rem;
  left: 50%;
  opacity: .5;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  width: 31.25rem;
  z-index: 0
}

@media only screen and (min-width: 45rem) {
  .g-newsletter__shape {
      bottom:-22.5rem;
      height: 45rem;
      width: 45rem
  }
}

.g-newsletter__wrapper {
  margin: 0 auto;
  max-width: 52.8125rem;
  padding: 3.75rem 1.25rem 6.25rem;
  position: relative;
  z-index: 1
}

@media only screen and (min-width: 45rem) {
  .g-newsletter__wrapper {
    padding:3.75rem 2.5rem 10rem
  }
}

@media only screen and (min-width: 64rem) {
  .g-newsletter__wrapper {
      padding-left:3.75rem;
      padding-right: 3.75rem;
  }
}

@media only screen and (min-width: 90rem) {
  .g-newsletter__wrapper {
      padding-left:0;
      padding-right: 0
  }
}

.g-newsletter__icon {
  display: block;
  height: auto;
  margin-bottom: .625rem;
  width: 5.9375rem
}

@media only screen and (min-width: 45rem) {
  .g-newsletter__icon {
      width:6.875rem
  }
}

.g-newsletter__icon .fill {
  stroke: #121212;
}

@media only screen and (min-width: 45rem) {
  .g-newsletter__container {
      align-items:center;
      display: flex;
      justify-content: space-between
  }
}

.g-newsletter__callout {
  margin-bottom: 2.5rem;
  max-width: 22.5rem
}

@media only screen and (min-width: 45rem) {
  .g-newsletter__callout {
      margin-bottom:0;
      max-width: 45%
  }
}

.g-newsletter__title {
  color: #121212;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.28;
  margin: 0
}

@media only screen and (min-width: 45rem) {
  .g-newsletter__title {
      font-size:2.25rem;
      line-height: 1.2
  }
}

.g-newsletter__text {
  color: #121212;
  font-size: 1rem;
  line-height: 1.5
}

.g-newsletter__text.spacing {
  margin-bottom: 1.25rem;
}

.g-circles-shape {
  stroke: #121212;
  height: 100%;
  opacity: .2;
  width: 100%;
}

.m-footer {
  flex-shrink: 0;
  background-color: var(--footer-background-color);
  border-top: solid 1px var(--footer-border-color);

  .overall-footer {
    background-color: var(--footer-overall-background-color);
    color: $white;
    height: 36px;
    font-size: 11px;
    line-height: 36px;
    text-align: center;
  }

  .line {
    color: var(--footer-linklist-text-color);

    .title {
      font-weight: bold;
    }
    .links {
      margin-bottom: 10px;

      a {
        display: inline-block;
        padding: 0 10px;
        line-height: 30px;
        text-decoration: none;
        color: var(--footer-linklist-link-color);
      }
    }
  }

  .l-wrapper.flex {
    display: flex;
    flex-direction: column;
    padding: 20px;
    @include respond-to('medium') {
      flex-direction: row;
      padding: 20px 0;
    }

  }

  .footer-block {
    width: 100%;
    border-bottom: solid 1px var(--footer-linklist-text-color);
    padding-bottom: 30px;
    @include respond-to('medium') {
      width: 70%;
      border-right: solid 1px var(--footer-linklist-text-color);
      border-bottom: none;
  }
  }
  .footer-contact {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    padding: 0 20px;
    
    .title {
      font-weight: bold;
      margin-bottom: 15px;
      color: var(--footer-linklist-text-color);
    }
    .medium {
      margin-bottom: 10px;
    }
  
    svg {
      vertical-align: middle;
    }
   
    @include respond-to('medium') {
        width: 30%;
    }
  }
}

.m-footer__content {
  color: $white;
  text-align: center;
  padding: 50px $mobile-space;

  @include respond-to('medium') {
    padding: 75px 0;
    max-width: 680px;
    margin: 0 auto;
  }
}

.m-footer__nav-secondary {
  margin-bottom: 25px;

  .m-secondary-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      @include respond-to('medium') {
        margin: 0 5px;
      }
    }
  }
}

.m-footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  a {
    display: inline-block;
    color: $white;
    margin: 0 15px;

    span {
      color: inherit;
      font-size: 1rem;
    }
  }
}

.rtl {
  .m-footer-social {
    direction: ltr;
  }
}
